<div data-role="page">

    
  <div data-role="header" data-position="inline">
    <h1>Network samples</h1>
  </div>

  <div data-role="content">
    <h2>Ruby</h2>
    <ul data-role="listview">
      <li><a href="<%= url_for :action => :network_availability %>">Detect network availability</a></li>
      <li><a href="<%= url_for :action => :start_status_notify %>">Start detecting network events</a></li>
      <li><a href="<%= url_for :action => :stop_status_notify %>">Stop detecting network events</a></li>
      <li><a href="<%= url_for :action => :upload_file %>">Upload file</a></li>
      <li><a href="<%= url_for :action => :download_file %>">Download file</a></li>
      <li><a href="<%= url_for :action => :headers_and_verbs %>">Using http headers and verbs</a></li>
      <li><a href="<%= url_for :action => :basic_auth %>">Connecting with basic authentication</a></li>      
    </ul>
    <h2>Javascript</h2>
    <ul data-role="listview">
      <li><a href="#" onclick="network_availability()">Detect network availability</a></li>
      <li><a href="#" onclick="start_status_notify()">Start detecting network events</a></li>
      <li><a href="#" onclick="stop_status_notify()">Stop detecting network events</a></li>
      <li><a href="#" onclick="upload_file()">Upload file</a></li>
      <li><a href="#" onclick="download_file()">Download file</a></li>
      <li><a href="#">Using http headers and verbs</a></li>
      <li><a href="#" onclick="basic_auth()">Connecting with basic authentication</a></li>      
    </ul>

  </div>

</div>
