<div data-role="page">

    
  <div data-role="header" data-position="inline">
    <h1>Webview samples</h1>
  </div>

  <div data-role="content">
	 <h2>Ruby</h2>
    <ul data-role="listview">
      <li><a href="<%= url_for :action => :properties %>">Controlling Webview properties</a></li>
      <li><a href="<%= url_for :action => :call_js %>">Interacting with Webview - execute_js</a></li> 
       <li><a href="<%= url_for :action => :navigate %>">Navigating to pages</a></li>    
        <li><a href="<%= url_for :action => :refresh %>">Refresh the page</a></li>  
        <li><a href="<%= url_for :action => :save %>">Save the page</a></li>    
    </ul>
  <h2>Javascript</h2>
	 <ul data-role="listview">
	  
	    <li><a href="#" onclick="activeTab()">Active Tab</a></li>
	    <li><a href="#" onclick="currentLocation()">Current Location</a></li>
	    <li><a href="#" onclick="currentURL()">Current URL</a></li>
	    <li><a href="#" onclick="executeJavascript()">Interacting with Webview - execute_js</a></li>
	    <li><a href="#" onclick="navigate()">Navigating to pages</a></li>
	     <li><a href="#" onclick="refresh()">Refresh the page</a></li>
	  </ul>
  </div>

</div>


