<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/">

    
  <div data-role="header" data-position="inline">
    <h1>Code samples</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <li><a href="<%= url_for :controller => :Application %>">Application</a></li>
      <li><a href="<%= url_for :controller => :Barcode %>">Barcode</a></li>
      <li><a href="<%= url_for :controller => :Camera %>">Camera</a></li>
      <li><a href="<%= url_for :controller => :Cardreader %>">Cardreader</a></li>
      <li><a href="<%= url_for :controller => :Database %>">Database</a></li>
      <li><a href="<%= url_for :controller => :Log %>">Log</a></li>
      <li><a href="<%= url_for :controller => :Network %>">Network</a></li>
      <li><a href="<%= url_for :controller => :Signature %>">Signature</a></li>
      <li><a href="<%= url_for :controller => :System %>">System</a></li>
      <li><a href="<%= url_for :controller => :Webview %>">Webview</a></li>      

    </ul>
  </div>

</div>
