<div data-role="page">

  <%= render :partial => "/partials/page_head" %>
    
  <div data-role="content">
  
    <%= render :partial => "/partials/example_header", :locals => {:title => "Run external application", :description => "
      You can execute a different application and (optionally) wait for it to finish      
    " }
    %>

    <%= render :partial => "/partials/language_tabs" %>

    <div class="sample ruby">
      <a href="<%= url_for :action => :run_nonblocking %>" data-role="button">Run without waiting</a>
      <a href="<%= url_for :action => :run_blocking %>" data-role="button">Run and wait</a>
    </div>
    
    <div class="sample javascript">
      <a href="#" data-role="button" onclick="KitchenSink.Samples.Process.run_nonblocking()">Run without waiting</a>
      <a href="#" data-role="button" onclick="KitchenSink.Samples.Process.run_blocking()">Run and wait</a>
    </div>
  </div>


</div>
