<div data-role="page" class="filesample">

  <%= render :partial => "/partials/page_head" %>
    
  <div data-role="content">
  
    <%= render :partial => "/partials/example_header", :locals => {:title => "Browse filesystem", :description => "
      Display icons for the hardware key modifiers (Shift, Alt, Ctrl, Fn, Caps lock, Num lock, Orange key)
    " }
    %>

    <%= render :partial => "/partials/language_tabs" %>
    
    <div class="sample ruby">
      <a data-role="button" href="<%= url_for :action => :start_keycapture %>">Start key capture</a>
      <a data-role="button" href="<%= url_for :action => :stop_keycapture %>">Stop key capture</a>      
    </div>
    
    <div class="sample javascript">
      <a href="#" data-role="button" onclick="KitchenSink.Samples.Keycapture.start_keycapture()">Start key capture</a>
      <a href="#" data-role="button" onclick="KitchenSink.Samples.Keycapture.stop_keycapture()">Stop key capture</a>
    </div>
    
  </div>
