<div data-role="collapsible-set" data-inset="false">
  <div data-role="collapsible">
    <h3>Application</h3>
    <ul data-role="listview" data-inset="true">
      <li><a href="<%= url_for :controller => :Application, :action => :app_folder %>">Get folders where items are stored</a></li>
      <li><a href="<%= url_for :controller => :Application, :action => :set_locale %>">Set locale</a></li>
      <li><a href="<%= url_for :controller => :Application, :action => :quit_app %>">Quit the application</a></li>
      <li><a href="<%= url_for :controller => :Application, :action => :minimize_app %>">Minimize the application</a></li>
      <li><a href="<%= url_for :controller => :Application, :action => :restore_app %>">Restore the application</a></li>
    </ul>      
  </div>

  <div data-role="collapsible">
    <h3>Barcode</h3>
    <h2>Ruby</h2>
    <ul data-role="listview" data-inset="true">
      <li><a href="<%= url_for :controller => :Barcode, :action => :scan_using_default_scanner %>">Scan using default scanner</a></li>
      <li><a href="<%= url_for :controller => :Barcode, :action => :choose_scanner %>">Select scanner to use</a></li>
      <li><a href="<%= url_for :controller => :Barcode, :action => :set_symbology %>">Set symbology</a></li>
      <li><a href="<%= url_for :controller => :Barcode, :action => :control_properties %>">Control scanner properties</a></li>
      <li><a href="<%= url_for :controller => :Barcode, :action => :change_audible_options %>">Change audible options</a></li>
    </ul>
    <h2>Javascript</h2>
    <ul data-role="listview" data-inset="true">
    <li><a href="#" onclick="scan_using_default_scanner()">Scan using default scanner</a></li>
    <li><a href="#" onclick="choose_scanner()">Select scanner to use</a></li>
    <li><a href="#" onclick="set_symbology()">Set symbology</a></li>
    <li><a href="#" onclick="control_properties()">Control scanner properties</a></li>
    <li><a href="#" onclick="change_audible_options()">Change audible options</a></li>
    </ul>        
  </div>

  <div data-role="collapsible">
    <h3>Camera</h3>
  </div>
        
  <div data-role="collapsible">
    <h3>Card reader</h3>
  </div>
  
  <div data-role="collapsible">
    <h3>Database</h3>
  </div>
  
  <div data-role="collapsible">
    <h3>Log</h3>
  </div>
  
  <div data-role="collapsible">
    <h3>Network</h3>
  </div>
  
  <div data-role="collapsible">
    <h3>ORM</h3>
  </div>
  
  <div data-role="collapsible">
    <h3>Signature</h3>
  </div>
  
  <div data-role="collapsible">
    <h3>System</h3>
  </div>
  
  <div data-role="collapsible">
    <h3>Webview</h3>
  </div>
  
</div>